
<header class="sticky top-0 z-50 flex justify-between items-center p-5 bg-gray-100 text-gray">
  <div class="flex items-center space-x-2 font-bold text-xl text-red-500">
     [icon_here] NE Veículos
  </div>
  
  <%= render "layouts/navbar" %>

  <div>
    <a href="/">Entrar</a>
    <a href="/">Cadastrar</a>
  </div>
</header>