<nav class="flex">
  <ul class="flex space-x-5">
    <li><a href="/">Comprar</a></li>
    <li><a href="/">Vender</a></li>
    <li><a href="/">SobServiços</a></li>
    <li><a href="/">Notícias</a></li>
    <li><a href="/">Ajuda</a></li>
  </ul>
</nav>